@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
}

#emoji-1 {
  -webkit-animation: wave 20000ms infinite ease-in-out;
          animation: wave 20000ms infinite ease-in-out;
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(-15deg);
  }
  1% {
    transform: rotate(15deg);
  }
  2% {
    transform: rotate(-15deg);
  }
  3% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }
  1% {
    transform: rotate(15deg);
  }
  2% {
    transform: rotate(-15deg);
  }
  3% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

#emoji-2 {
  -webkit-animation: shake 20000ms 5000ms infinite ease-in-out;
          animation: shake 20000ms 5000ms infinite ease-in-out;
}
@-webkit-keyframes shake {
  0% {
    transform: translateY(0);
  }
  1% {
    transform: translateY(0.25rem);
  }
  2% {
    transform: translateY(-0.25rem);
  }
  3% {
    transform: translateY(0.25rem);
  }
  4% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  1% {
    transform: translateY(0.25rem);
  }
  2% {
    transform: translateY(-0.25rem);
  }
  3% {
    transform: translateY(0.25rem);
  }
  4% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-img {
  filter: contrast(130%) saturate(95%) brightness(90%);
  image-rendering: high-quality;
}

.blob-1 {
  -webkit-animation: blobMotion1 10000ms ease-in-out infinite;
          animation: blobMotion1 10000ms ease-in-out infinite;
}
@-webkit-keyframes blobMotion1 {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    border-radius: 68% 32% 38% 62%/68% 55% 45% 32%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
@keyframes blobMotion1 {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    border-radius: 68% 32% 38% 62%/68% 55% 45% 32%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

.blob-2 {
  -webkit-animation: blobMotion2 15000ms ease-in-out infinite;
          animation: blobMotion2 15000ms ease-in-out infinite;
}
@-webkit-keyframes blobMotion2 {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    border-radius: 68% 32% 38% 62%/68% 55% 45% 32%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
@keyframes blobMotion2 {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    border-radius: 68% 32% 38% 62%/68% 55% 45% 32%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

#about {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}/*# sourceMappingURL=globals.css.map */