@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
}

#emoji-1 {
  animation: wave 10000ms 1000ms infinite ease-in-out;

  @keyframes wave {
    0% {
      transform: rotate(-15deg);
    }
    2% {
      transform: rotate(15deg);
    }
    4% {
      transform: rotate(-15deg);
    }
    6% {
      transform: rotate(15deg);
    }
    8% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }
}
#emoji-2 {
  animation: shake 10000ms 2000ms infinite ease-in-out;

  @keyframes shake {
    0% {
      transform: translateY(0);
    }
    2% {
      transform: translateY(0.25rem);
    }
    4% {
      transform: translateY(-0.25rem);
    }
    6% {
      transform: translateY(0.25rem);
    }
    8% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.hero-img {
  filter: contrast(130%) saturate(95%) brightness(90%);
  image-rendering: high-quality;
}

.blob-1 {
  animation: blobMotion1 10000ms ease-in-out infinite;

  @keyframes blobMotion1 {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    50% {
      border-radius: 68% 32% 38% 62% / 68% 55% 45% 32%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }
}
.blob-2 {
  animation: blobMotion2 15000ms ease-in-out infinite;

  @keyframes blobMotion2 {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    50% {
      border-radius: 68% 32% 38% 62% / 68% 55% 45% 32%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }
}

#toggle-btn {
  &.spin {
    animation: spin 500ms 1 ease-in-out forwards;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

:root main {
  background-image: linear-gradient(
      328deg,
      rgba(29, 29, 29, 0.05) 0%,
      rgba(29, 29, 29, 0.05) 25%,
      rgba(226, 226, 226, 0.05) 25%,
      rgba(226, 226, 226, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 75%,
      rgba(216, 216, 216, 0.05) 75%,
      rgba(216, 216, 216, 0.05) 100%
    ),
    linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 25%,
      rgba(108, 108, 108, 0.05) 25%,
      rgba(108, 108, 108, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 75%,
      rgba(236, 236, 236, 0.05) 75%,
      rgba(236, 236, 236, 0.05) 100%
    ),
    linear-gradient(
      207deg,
      rgba(153, 153, 153, 0.05) 0%,
      rgba(153, 153, 153, 0.05) 25%,
      rgba(83, 83, 83, 0.05) 25%,
      rgba(83, 83, 83, 0.05) 50%,
      rgba(5, 5, 5, 0.05) 50%,
      rgba(5, 5, 5, 0.05) 75%,
      rgba(82, 82, 82, 0.05) 75%,
      rgba(82, 82, 82, 0.05) 100%
    ),
    linear-gradient(
      297deg,
      rgba(26, 26, 26, 0.05) 0%,
      rgba(26, 26, 26, 0.05) 25%,
      rgba(223, 223, 223, 0.05) 25%,
      rgba(223, 223, 223, 0.05) 50%,
      rgba(232, 232, 232, 0.05) 50%,
      rgba(232, 232, 232, 0.05) 75%,
      rgba(153, 153, 153, 0.05) 75%,
      rgba(153, 153, 153, 0.05) 100%
    ),
    linear-gradient(
      204deg,
      rgba(120, 120, 120, 0.05) 0%,
      rgba(120, 120, 120, 0.05) 25%,
      rgba(191, 191, 191, 0.05) 25%,
      rgba(191, 191, 191, 0.05) 50%,
      rgba(246, 246, 246, 0.05) 50%,
      rgba(246, 246, 246, 0.05) 75%,
      rgba(123, 123, 123, 0.05) 75%,
      rgba(123, 123, 123, 0.05) 100%
    ),
    linear-gradient(90deg, rgb(196, 181, 253), white, rgb(196, 181, 253));
}

:root.dark main {
  background-image: linear-gradient(
      328deg,
      rgba(29, 29, 29, 0.05) 0%,
      rgba(29, 29, 29, 0.05) 25%,
      rgba(226, 226, 226, 0.05) 25%,
      rgba(226, 226, 226, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 75%,
      rgba(216, 216, 216, 0.05) 75%,
      rgba(216, 216, 216, 0.05) 100%
    ),
    linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.05) 25%,
      rgba(108, 108, 108, 0.05) 25%,
      rgba(108, 108, 108, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 50%,
      rgba(21, 21, 21, 0.05) 75%,
      rgba(236, 236, 236, 0.05) 75%,
      rgba(236, 236, 236, 0.05) 100%
    ),
    linear-gradient(
      207deg,
      rgba(153, 153, 153, 0.05) 0%,
      rgba(153, 153, 153, 0.05) 25%,
      rgba(83, 83, 83, 0.05) 25%,
      rgba(83, 83, 83, 0.05) 50%,
      rgba(5, 5, 5, 0.05) 50%,
      rgba(5, 5, 5, 0.05) 75%,
      rgba(82, 82, 82, 0.05) 75%,
      rgba(82, 82, 82, 0.05) 100%
    ),
    linear-gradient(
      297deg,
      rgba(26, 26, 26, 0.05) 0%,
      rgba(26, 26, 26, 0.05) 25%,
      rgba(223, 223, 223, 0.05) 25%,
      rgba(223, 223, 223, 0.05) 50%,
      rgba(232, 232, 232, 0.05) 50%,
      rgba(232, 232, 232, 0.05) 75%,
      rgba(153, 153, 153, 0.05) 75%,
      rgba(153, 153, 153, 0.05) 100%
    ),
    linear-gradient(
      204deg,
      rgba(120, 120, 120, 0.05) 0%,
      rgba(120, 120, 120, 0.05) 25%,
      rgba(191, 191, 191, 0.05) 25%,
      rgba(191, 191, 191, 0.05) 50%,
      rgba(246, 246, 246, 0.05) 50%,
      rgba(246, 246, 246, 0.05) 75%,
      rgba(123, 123, 123, 0.05) 75%,
      rgba(123, 123, 123, 0.05) 100%
    ),
    linear-gradient(90deg, rgba(76 29 149 / 0.2), black, rgba(76 29 149 / 0.2));
}

.fade-in {
  opacity: 0;
  animation: fadeIn 500ms 1 ease-in forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
